@{
    ViewBag.Title = "Polscy pisarze";
    @Styles.Render("~/Content/polscyPisarze.css");
    @Styles.Render("~/Content/pageSchema.css");
}

<body>
<div id="conteiner">

    <div id="header">
        <h1>Polscy pisarze</h1>
    </div>

    <div class="article">
        <div class="spis">
            <p>Polska ma dużo polskich pisarzy którzy pisza bardzo dobrą fantastykę. Poniżej lista kilku z nich:</p>

            <p>
                Pisarze (wybrani):
                <ol>
                    <li>Jarosław Grzędowicz</li>
                    <li>Witold Jabłoński</li>
                    <li>Aneta Jadowska</li>
                    <li>Jan Karczewski</li>
                    <li>Marta Kisiel</li>
                    <li>Magdalena Kozak</li>
                    <li>Krzysztof Piskorski</li>
                </ol>
            </p>

            <p>
                Pisarze opisani na stronie:
                <ol>
                    <li>
                        <a href="#cwiek">Jakub Ćwiek</a>
                    </li>
                    <li>
                        <a href="#pilipiuk">Andrzej Pilipuk</a>
                    </li>
                    <li>
                        <a href="#sapkowski">Andrzej Sapkowski</a>
                    </li>
                </ol>
            </p>
        </div>
        <div class="cwiek2">
            <h2 id="cwiek">Jakub Ćwiek</h2>
            <p class="author">
                Urodził się w Opolu, wychowywał w Głuchołazach. Studiował kulturoznawstwo na Uniwersytecie Śląskim w Katowicach. Od czasu studiów członek Śląskiego Klubu Fantastyki. Debiutował literacko w 2005. Charakterystyczną cechą twórczości Jakuba Ćwieka są liczne
                nawiązania do popkultury: książek, filmów, seriali, utworów muzycznych czy rozmaitych mitologii.
            </p>
            <p>
                Powieści:
                <ul>
                    <li>Saga o Kłamcy</li>
                    
                    <li><ol>
                            <li>Kłamca (2005)</li>
                            <li>Kłamca 2. Bóg marnotrawny. (2006)</li>
                            <li>Kłamca 3. Ochłap sztandaru (2008)</li>
                            <li>Kłamca 4. Kill'em all (2012)</li>
                            <li>Kłamca 2,5. Machinomachia (2014)</li>
                            <li>Kłamca. Papież sztuk (2015)</li>
                        </ol>
                    </li>
                    <li>Saga o Chłopcach</li>
                    
                    <li><ol>

                            <li>Chłopcy (2012)</li>
                            <li>Chłopcy 2: Bangarang (2013)</li>
                            <li>Chłopcy 3: Zguba (2014)</li>
                            <li>Chłopcy 4: Największa z przygód (2015)</li>
                        </ol>
                    </li>
                    <li>Saga Dreszcz</li>
                    
                    <li><ol>
                            <li>Dreszcz (2013)</li>
                            <li>Dreszcz 2. Facet w czerni (2014)</li>
                        </ol>
                    </li>
                    <li>Inne powieści</li>
                    
                    <li><ol>
                            <li>Liżąc ostrze (2007)</li>
                            <li>Ciemność płonie (2008)</li>
                            <li>Gotuj z papieżem (2009)</li>
                            <li>Ofensywa szulerów (2009)</li>
                            <li>Krzyż Południa. Rozdroża (2010)</li>
                            <li>Świetlik w ciemności (2013)</li>
                            <li>Grimm City. Wilk! (2016)</li>
                        </ol>
                    </li>
                </ul>
            </p>
        </div>
        <div class="pilipuk2">
            <h2 id="pilipiuk">Andrezej Pilipiuk</h2>
            <p class="author">
                Pilipiuk najbardziej znany jest z wykazującego w pewnym stopniu cechy gawędy cyklu opowiadań o przygodach Jakuba Wędrowycza – zamieszkującego w Starym Majdanie koło Wojsławic plugawego degenerata, bimbrownika i egzorcysty.
            </p>
            <p class="author">
                W utworach Pilipiuka często pojawiają się gościnnie postaci z innych jego cykli. Tytułowe bohaterki serii Kuzynki pierwszy raz pojawiły się w jednym z napisanych przez niego tomów Pana Samochodzika. Zarówno w cyklu Kuzynki jak i Pan Samochodzik pojawia
                się również przelotnie Jakub Wędrowycz.
            </p>

            <p>
                Twórczość:
                <ul>
                    <li>Cykle opowiadań</li>
                    
                    <li><ol>
                            <li>Cylk o Jakubie Wędrowyczu</li>
                            <li>Cylk Kuzynki</li>
                            <li>Cylk Pan Samochodzik - kontynuacja przygód (pod pseudonimem Tomasz Olszakowski</li>
                            <li>Cykl Norweski dziennik</li>
                            <li>Cykl Oko Jelenia</li>
                        </ol>
                    </li>
                    <li>Inne powieści (wybiórczo)</li>
                    
                    <li><ol>
                            <li>
                                W utworach Pilipiuka często pojawiają się gościnnie postaci z innych jego cykli. Tytułowe bohaterki serii Kuzynki pierwszy raz pojawiły się w jednym z napisanych przez niego tomów Pana Samochodzika. Zarówno w cyklu Kuzynki jak i Pan
                                Samochodzik pojawia się również przelotnie Jakub Wędrowycz.
                            </li>
                            <li>Aparatus, zbiór opowiadań, Fabryka Słów, 2011.</li>
                            <li>Wampir z MO, Fabryka Słów, 2013</li>
                            <li>Rzeźnik drzew, zbiór opowiadań, Fabryka Słów, 2009</li>
                        </ol>
                    </li>
                </ul>
            </p>
        </div>
        <div class="sapkowski2">
            <h2 id="sapkowski">Andrezej Sapkowski</h2>
            <p class="author">
                Karierę literacką zaczynał jako tłumacz, przekładając na język polski opowiadanie Słowa Guru Cyryla M. Kornblutha w „Fantastyce”. Popularność zdobył cyklem opowiadań i pięciotomową sagą o wiedźminie (pierwsze opowiadanie ukazało się w grudniu 1986 w miesięczniku
                „Fantastyka”). Oprócz tego wydał esej o Rycerzach Okrągłego Stołu Świat króla Artura. Maladie, leksykon miłośnika fantasy Rękopis znaleziony w Smoczej Jaskini, poradnik dla osób zaczynających grać w RPG pt. Oko Yrrhedesa, powieści z cyklu
                o Reinmarze z Bielawy (Trylogia husycka), powieść Żmija oraz wiele opowiadań i artykułów w czasopismach i zbiorach opowiadań.
            </p>

            <p class="author">
                Andrzej Sapkowski jest laureatem wielu nagród literackich polskich i zagranicznych, w tym Paszportu Polityki oraz pięciokrotnie nagrody im. Janusza A. Zajdla – za opowiadania Mniejsze zło (1990), Miecz przeznaczenia (1992), W leju po bombie (1993), oraz
                powieści Krew elfów (1994) i Narrenturm (2002). Jest drugim, po Jacku Dukaju najczęściej nagradzanym autorem w historii tej nagrody. W 2003 został nominowany do Nagrody Literackiej Nike za Narrenturm. W czerwcu 2009 r. został nagrodzony David
                Gemmel Award for Fantasy za Blood of Elves – angielskie wydanie pierwszego tomu sagi o wiedźminie Krew elfów.
            </p>

            <p>
                Twórczość:
                <ul>
                    <li>Zbiory opowiadań</li>
                    
                    <li><ol>
                            <li>Wiedźmin (Reporter 1990)</li>
                            <li>Ostatnie życzenie (superNOWA 1993)</li>
                            <li>Miecz przeznaczenia (superNOWA 1993)</li>
                            <li> Coś się kończy, coś się zaczyna (superNOWA 2000)</li>
                            <li>Opowieści o wiedźminie, tom 1 (Libros 2002), wznowienie dawniejszych opowiadań</li>
                            <li>Opowieści o wiedźminie, tom 2 (Libros 2002), wznowienie dawniejszych opowiadań</li>
                            <li>Maladie i inne opowiadania (superNOWA 2012)</li>
                        </ol>
                        <br/>
                    </li>
                    <li>Powieści</li>
                    
                    <li><ol>
                            <ol>Cykl wiedźmiński</ol>
                            <dl>
                                <li>Saga o wiedźminie
                                <li>Krew elfów (superNOWA 1994)</li>
                                <li>Czas pogardy (superNOWA 1995)</li>
                                <li>Chrzest ognia (superNOWA 1996)</li>
                                <li>Wieża Jaskółki (superNOWA 1997)</li>
                                <li>Pani Jeziora (superNOWA 1999)</li>
                                Odrębne pozycje
                                <li>Sezon burz (superNOWA 2013)</li>
                            </dl>
                            <ol>Trylogia husycka</ol>
                            <dl>
                                <li>Narrenturm (superNOWA 2002)</li>
                                <li>Boży bojownicy (superNOWA 2004)</li>
                                <li>Lux perpetua (superNOWA, 2006)</li>
                            </dl>
                            <ol>Inne powieści</ol>
                            <dl>
                                <li>Żmija (superNOWA, 2009)</li>
                                <li>Inne książki</li>
                                <li>Oko Yrrhedesa (MAG 1995), gra fabularna</li>
                                <li>Świat króla Artura. Maladie (superNOWA 1995), esej</li>
                                <li>Rękopis znaleziony w Smoczej Jaskini (superNOWA 2001), przewodnik po literaturze fantasy</li>
                                <li>Historia i fantastyka (superNOWA 2005), wywiad-rzeka przeprowadzony przez Stanisława Beresia</li>
                            </dl>
                        </ol>
                    </li>
                </ul>
            </p>
        </div>
        <table>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Rok urodzenia</th>
            </tr>
            <tr>
                <td>Jakub</td>
                <td>Ćwiek</td>
                <td>1982</td>
            </tr>
            <tr>
                <td>Andrzej</td>
                <td>Pilipiuk</td>
                <td>1974</td>
            </tr>
            <tr>
                <td>Andrzej</td>
                <td>sapkowski</td>
                <td>1948</td>
            </tr>
        </table>
    </div>
</div>
</body>

